/* =================================
		Start of Custom font family  
================================== */

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
		url('../fonts/Montserrat-Light.ttf') format('truetype'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}
.font-bold{
	font-family: 'Montserrat-Bold';
	font-weight: bold;
	font-display: fallback;
}

/* =================================
		End of Custom font family  
================================== */

/* =================================
		Start of Global CSS 
================================== */

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	color: #6B6B6B;
}
.area {
	width: 100%;
	float: left;
}
a,button,input,textarea {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
a,a:hover,a:focus,a:active{
	text-decoration: none;
	outline: none;
	display: inline-block;
}
h1,h2,h3,h4,h5{
	margin: 10px 0 15px 0;
}
p {
	margin: 0 0 20px;
}
.full-post-content {
	width: 100% !important;
}
.page-numbers {
	float: left;
	padding: 5px 10px;
	border: 1px solid #dddddd;
}
.page-numbers:hover {
	background-color: #337ab7;
	color: #ffffff !important;
	border-color: #337ab7;
}
.pagination {
	width: 100%;
}
.pagination h2 {
	border: none;
}
p.author {
	font: 400 14px/20px'Open Sans', sans-serif;
	color: #2e49b5;
	font-style: italic;
}
.img-full {
	width: 100%;
}
.alignright {
	float: right;
	margin: 15px 0 15px 15px;
}
.alignleft {
	float: left;
	margin: 15px 15px 15px 0;
}
.page-body {
	min-height: 600px;
}
.admin-bar .cla_main-header {
	margin-top: 32px;
}
.cla_section-overlay{
	position: relative;
	z-index: 1;
}
.cla_section-overlay::after{
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: inline-block !important;
}
.cla_cta-btn a, 
a.cla_cta-btn, 
.cla_cta-btn input, 
input.cla_cta-btn, 
.cla_cta-btn button, 
button.cla_cta-btn {
	background: #07a7e3 !important;
	color: #ffffff !important;
	font-size: 13px !important;
	line-height: 22px !important;
	font-weight: 400 !important;
	text-transform: uppercase !important;
	padding: 15px 25px !important;
	border-radius: 2px !important;
	border: none !important;
	display: inline-block !important;
	letter-spacing: 1px !important;
	transition: all 0.4s linear !important;
}
.cla_cta-btn a:hover,
a.cla_cta-btn:hover,
.cla_cta-btn a:focus,
a.cla_cta-btn:focus,
.cla_cta-btn a:active,
a.cla_cta-btn:active,
.cla_cta-btn input:hover,
input.cla_cta-btn:hover,
.cla_cta-btn input:focus,
input.cla_cta-btn:focus,
.cla_cta-btn input:active,
input.cla_cta-btn:active,
.cla_cta-btn button:hover,
button.cla_cta-btn:hover,
.cla_cta-btn button:focus,
button.cla_cta-btn:focus,
.cla_cta-btn button:active,
button.cla_cta-btn:active {
	background: #16394f !important;
}
.row.cla_row {
	display: flex;
	flex-wrap: wrap;
}
@media(max-width:767px){
	.row.cla_row {
		display: block;
	}
}
.infusion-form label {
	margin: 15px 0 5px;
	display: block;
}
.infusion-form .infusion-field input, .infusion-form .infusion-field textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
.infusion-form {
	margin: 50px 0 0;
}
.infusion-form .infusion-submit input {
	background: #3498DB;
	margin: 20px 0 0;
	border: none;
	padding: 13px 50px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	transition: all 0.4s;
}
.infusion-form .infusion-submit input:hover {
	background: #256E9F;
}
.home main section:first-child {
	margin: 0 !important;
}

/* =================================
		End of Global CSS 
================================== */

/* =================================
		Start of Header TopBar CSS 
================================== */

.cla_main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.cla_header-top-bar-section{
	padding: 15px 0;
	transition: all 0.3s linear;
}
.cla_main-header.shrink-header .cla_header-top-bar-section {
	padding: 5px 0;
}
.cla_top-bar-left span {
	margin-right: 25px;
}
.cla_top-bar-left span i.fa,
.cla_top-bar-right span i.fa {
	margin-right: 10px;
	color: #323232;
}
.cla_top-bar-left span a,
.cla_top-bar-right span a {
	color: inherit;
}
.cla_top-bar-right {
	text-align: right;
}
.cla_top-bar span {
	margin-left: 15px;
}
.cla_top-bar span, .cla_top-bar span a {
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
	display: inline-block;
	transition: all 0.3s linear;
}
.cla_top-bar span a:hover, .cla_top-bar span a:focus {
	color: #EE2B24;
}
@media(max-width:1199px){
	.cla_top-bar-left span a, .cla_top-bar-right span a,
	.cla_top-bar-left span, .cla_top-bar-right span {
		font-size: 14px;
	}
	.cla_top-bar-left span {
		margin-right: 10px;
	}
	.cla_top-bar-left span i.fa,
	.cla_top-bar-right span i.fa {
		margin-right: 5px;
	}
}
@media(max-width:991px){
	.cla_top-bar-left span {
		display: block;
		margin: 0;
	}
	.cla_top-bar-left span i.fa, .cla_top-bar-right span i.fa {
		text-align: center;
		width: 20px;
	}
}
@media(max-width:767px){
	.cla_top-bar-left, .cla_top-bar-right {
		text-align: center;
	}
}

/* =================================
		End of Header TopBar CSS 
================================== */

/* =================================
		Start of Header CSS 
================================== */

.cla_header-section {
	padding: 20px 0;
	transition: all 0.4s linear;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background: rgba(255,255,255,0.9);
}
.cla_main-header.shrink-header .cla_header-section {
	padding: 10px 0;
}
.header-logo .navbar-brand {
	height: auto;
	padding: 0;
}
.header-menu li a {
	color: #3D3C3C;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s linear;
}
.header-menu li a:hover,
.header-menu li a:focus {
	color: #ED2E26 !important;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:active,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: transparent !important;
}
.header-menu .cla_cta-btn {
	margin-left: 15px;
}
.header-menu .dropdown-menu {
	left: 0 !important;
	right: auto !important;
	border-radius: 0;
	padding: 0;
	top: 160%;
	display: block;
	padding: 10px 0;
	transition: all 0.3s linear;
	border: none;
	opacity: 0;
	visibility: hidden;
}
.header-menu .dropdown:hover .dropdown-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
}
.header-menu .dropdown-menu li a {
	padding: 5px 20px;
	line-height: 20px;
	font-size: 14px;
}
.header-logo{
	transition: all 0.4s;
}
@media(max-width:767px){
	.header-logo {
		max-width: 180px;
		float: left;
		position: relative;
		z-index: 2;
	}
	.header-logo .navbar-brand {
		margin: 0;
	}
	.navbar-collapse {
		padding: 0 3px;
	}
	.header-menu {
		margin: 15px 0 0;
		background: rgba(0,0,0,.8);
		box-shadow: 0 0 2px rgba(0,0,0,.5);
		padding: 15px;
		max-height: 250px;
		overflow-y: scroll;
	}
	.header-menu li a {
		padding: 7px 0;
		color: #ffffff;
	}
	.header-menu .dropdown-menu {
		position: static;
		float: none;
		border: 0;
		display: inline-block;
		margin-left: 20px;
		background: none;
	}
	.header-menu .cla_cta-btn {
		display: inline-block;
		margin: 0 0 15px 0;
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
		background-color: transparent;
	}
}

/* =================================
		End of Header CSS 
================================== */

/* =================================
		Start of Footer CSS 
================================== */

.cla_footer-title {
	text-transform: uppercase;
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 25px;
	padding-bottom: 5px;
}
.cla_footer-content h2, .cla_footer-content b, .cla_footer-content strong {
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
	display: inline-block;
}
.cla_footer-content p {
	color: #ffffff;
	line-height: 25px;
}
.cla_footer-content a {
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
}
.cla_footer-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cla_footer-content ul li a {
	margin: 0 0 20px 0;
}
.cla_subscribe-form .cla_input-filed {
	padding: 15px;
	height: auto;
	margin-bottom: 20px;
}
.cla_subscribe-form .cla_btn-field {
	border: none;
	width: 100%;
	text-transform: uppercase !important;
}
@media(max-width:1199px){
	.cla_footer-title {
		font-size: 16px;
		line-height: 22px;
	}
}
@media(max-width:767px){
	.cla_footer-widget {
		margin: 20px 0;
	}
}
.footer-bottom-section{
	padding: 20px 0;
}

/* =================================
		End of Footer CSS 
================================== */

/* =================================
		Start of Blog CSS 
================================== */

.title-header {
	background: #0094D8;
	color: #ffffff;
}
.title-header .media-heading {
	margin: 0;
	padding: 15px 0;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.cla_single-blog-post {
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
	padding: 15px;
	margin: 20px 0;
}
.cla_post-title {
	font-size: 25px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3498db;
	margin-bottom: 20px;
	transition: all 0.4s;
}
.cla_post-title:hover {
	color: #256E9F;
}
.cla_single-post-img {
	width: 50%;
	float: left;
	overflow: hidden;
}
.cla_single-blog-post:hover .cla_single-post-img {
	background: rgba(0, 0, 0, 0.5);
}
.cla_single-post-img img {
	width: 100%;
}
.cla_single-post-text {
	float: none;
	display: block;
	overflow: hidden;
	padding-left: 20px;
}
.cla_single-post-text .cla_cta-btn {
	margin: 20px 20px 0 0;
	padding: 8px 20px !important;
	float: right;
}
.cla_single-post-elements {
	margin: 15px 0 0;
}
.cla_single-post-elements span a {
	color: #555555;
	font-size: 14px;
}
.cla_single-post-elements span {
	margin-right: 15px;
}
.cla_single-post-cat {
	margin-top: 10px;
}
.cla_single-post-cat a {
	color: #3498DB;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	word-wrap: break-word;
}
.cla_single-post-cat a:hover {
	color: #256E9F;
	text-decoration: underline;
}
@media(max-width:991px) {
	.cla_single-post-img {
		width: 100%;
		float: none;
	}
	.cla_single-post-text {
		padding: 15px 0 0;
	}
	.cla_single-post-text .cla_cta-btn {
		margin: 10px 0 0;
		float: none;
	}
}
@media(max-width:767px) {
	.cla_post-title {
		font-size: 20px;
		line-height: 25px;
	}
	.cla_blog-section.cla_section-padding.area {
		padding: 25px 0;
	}
}
/*------ Sidebar css start ----------*/
.cla_sidebar-right {
	margin: 20px 0;
}
.cla_sidebar-searchbar {
	position: relative;
}
.cla_input-filed {
	width: 100%;
	padding: 15px 60px 15px 15px;
	border: none;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	color: #333333;
	font-size: 16px;
	line-height: 20px;
}
.cla_search-btn {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	width: 60px;
	padding: 15px 0;
	color: #cccccc;
}
.cla_blog-section .widget {
	margin-top: 20px;
	width: 100%;
	float: left;
}
.cla_blog-section .widget-title {
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #333333;
	border-bottom: 2px solid #0094D8;
}
.cla_blog-section .widget ul {
	margin: 15px 0 0;
	padding: 0;
	list-style: none;
}
.cla_blog-section .widget ul li {
	background: rgba(0, 148, 216, 0.4);
	padding: 0 0 0 30px;
	margin: 0 0 7px 0;
	position: relative;
	transition: all 0.4s;
}
.cla_blog-section .widget ul li::before {
	content: "";
	width: 11px;
	height: 11px;
	background: #746e6e;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translate(0, -50%);
}
.cla_blog-section .widget ul li:hover {
	background: rgba(0, 148, 216, 0.8);
}
.cla_blog-section .widget ul li a {
	color: #333333;
	font-size: 16px;
	line-height: 18px;
	display: block;
	padding: 7px 0;
	text-transform: capitalize;
}
.tagcloud {
	margin: 15px 0 0;
}
.tag-cloud-link {
	background: #99D4EF;
	padding: 5px 10px;
	color: #333333;
	font-size: 12px !important;
	line-height: 12px !important;
	transition: all 0.4s;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 5px 0;
}
/*------ Sidebar css End ----------*/
/*--------(Single Page) post details css start -------------*/
.cla_post-details .cla_single-post-img {
	width: 100%;
	float: none;
}
.cla_post-details .cla_single-post-text {
	padding: 20px 0 0;
}
/*------- comments css start -----------*/
.cla-comments {
	width: 100%;
	float: left;
}
.cla-comments .comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cla-comments .children {
	list-style: none;
}
.cla-comments .comment-body {
	box-shadow: 0 0 3px 0px rgba(0,0,0,0.2);
	margin: 15px 0;
	padding: 15px;
}
.cla-comments .comment-meta {
	width: 100%;
	float: left;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
}
.cla-comments .avatar {
	float: left;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.cla-comments .fn {
	text-transform: uppercase;
}
.cla-comments .comment-metadata a {
	color: inherit;
}
.cla-comments .comment-content {
	width: 100%;
	float: left;
	margin: 15px 0;
}
.cla-comments .reply .comment-reply-link {
	background: #E95E4A;
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	padding: 3px 10px;
	border-radius: 5px;
}
.cla-comments .reply {
	display: inline-block;
}
.cla-comments .reply .comment-reply-link:hover {
	background: #590F1E;
}
.cla-comments .comment-form label {
	width: 100%;
	margin: 15px 0 5px;
}
.cla-comments .comment-form input, .comment-form textarea {
	width: 100%;
	border: 1px solid #dddddd;
	padding: 7px 15px;
}
.cla-comments .comment-form .submit {
	margin: 15px 0 0;
	background: #E95E4A;
	color: #ffffff;
	transition: all 0.4s;
}
.cla-comments .comment-form .submit:hover {
	background: #590F1E;
}
.cla-comments .comment-form input:focus, .comment-form textarea:focus {
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
/*------- comments css end -----------*/

/*--------(Single Page) post details css end -------------*/

/*-- Extend blog CSS --*/

.cla_blog-section .widget ul li::before {
	content: "\f061";
	font-family: fontAwesome;
	background: transparent;
	width: auto;
	top: 19px;
	color: #0088CF;
	left: 5px;
	transition: all 0.4s;
	height: auto;
}
.cla_blog-section .widget ul li:hover::before {
	left: 10px;
}
.cla_blog-section .widget ul li a {
	color: #333333;
	text-transform: uppercase;
	line-height: 24px;
}
.cla_blog-section .widget ul li a:hover {
	color: #0088CF;
}
.cla_sidebar-searchbar {
	margin: 20px 0 0;
}
.cla_blog-sidebar .widget {
	background: rgba(0, 149, 135, 0.2);
	padding: 20px;
	box-shadow: 0 0px 15px 1px rgba(0,0,0,0.1);
	margin-bottom: 20px;
}
.title-header {
	background: #0088CF;
}
.tag-cloud-link {
	background: #0088CF;
	color: #ffffff;
	padding: 5px 10px;
}
.tag-cloud-link:hover {
	background: #00AEEF;
}
.cla_search-btn {
	padding: 12px 0;
}
.cla_post-title {
	color: #0088CF;
}
.cla_post-title:hover {
	color: #00AEEF;
}
.cla_blog-section {
	padding: 30px 0;
}
.pagination > li {
	display: inline-block;
}
.page-numbers {
	background: #0188CF !important;
	color: #ffffff !important;
	margin: 0 3px !important;
}
.page-numbers.current,
.page-numbers:hover{
	background: #00AEEF !important;
}
.no-results, .not-found {
	padding: 50px 0 150px;
}
.comment-form p {
	margin: 0;
}
.cla-comments .comment-form .submit {
	background: #0088CF;
	text-transform: uppercase !important;
}
.cla-comments .comment-form .submit:hover {
	background: #00AEEF;
}
.cla_blog-section .widget ul li, .cla_blog-section .widget ul li:hover {
	background: none;
	margin: 0;
}
.cla_single-post-img a {
	display: block;
}
.cla_single-post-img img {
	height: 230px;
	object-fit: cover;
}
.single-post .cla_single-post-img img {
	height: auto;
	object-fit: unset;
}
.cla-comments .reply .comment-reply-link {
	background: #0088CF;
	padding: 5px 10px;
	line-height: 20px;
}
.cla-comments .reply .comment-reply-link:hover {
	background: #00AEEF;
}
.comment-form-cookies-consent input {
  width: auto !important;
  margin-right: 15px;
}
.comment-form-cookies-consent label {
  display: inline;
}
.comment-form-cookies-consent {
  margin: 15px 0 0 !important;
}

@media(max-width:991px){
	.cla_blog-section .widget ul li a {
		font-size: 13px;
		line-height: 18px;
	}
	.cla_single-post-img {
		width: 100%;
		float: none;
		margin: 0 0 15px 0;
	}
	.cla_single-post-text .cla_cta-btn {
		float: none;
	}
	.cla_single-post-text {
		padding: 0;
	}
}
@media(max-width:767px){
	.single .title-header .media-heading {
		font-size: 16px;
		line-height: 22px;
	}
	.single-post .cla_single-post-img img {
		height: 250px;
	}
}

/*-- Blog Extend CSS End --*/