@media(max-width:1680px){



}
/*End of media 1680px*/


@media(max-width:1440px){



}
/*End of media 1440px*/


@media(max-width:1199px){
	.header-menu li a {
		line-height: 19px;
		padding: 10px;
		font-size: 12px;
	}
	main section:first-child {
		margin-top: 215px;
	}
	main section.title-header:first-child {
		margin-top: 186px;
	}


}
/*End of media 1199px*/


@media(max-width:991px){
	.header-menu li a {
		font-size: 12px;
		line-height: 20px;
		padding: 10px 5px;
	}
	.header-menu .dropdown-menu li a {
		line-height: 15px;
		font-size: 12px;
	}
	main section:first-child {
		margin-top: 190px;
	}
	main section.title-header:first-child {
		margin-top: 160px;
	}


}
/*End of media 991px*/


@media(max-width:767px){
	.cla_top-bar span, .cla_top-bar span a {
		font-size: 14px;
		line-height: 20px;
		display: block;
	}
	.cla_header-top-bar-section {
		padding: 5px 0;
	}
	.navbar-toggle {
		background: #590F1E;
		border-radius: 2px;
		margin: 5px 0 0;
	}
	.navbar-toggle .icon-bar {
		background: #ffffff;
	}
	.header-menu li a {
		padding: 5px 10px;
	}
	.header-menu .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.single-post .cla_single-post-img img {
		height: 250px;
	}
	.cla_top-bar.text-right, .cla_top-bar.text-left, .cla_top-bar.text-center {
		text-align: center !important;
	}
	.cla_top-bar span {
		margin: 0;
		display: block;
	}
	.cla_top-bar span a {
		display: inline-block;
	}
	.header-menu li a {
		font-size: 14px;
		line-height: 20px;
	}
	.header-menu li.cla_cta-btn a {
		font-size: 12px !important;
		padding: 10px 15px !important;
		margin-top: 5px;
	}
	main section:first-child {
		margin-top: 150px;
	}
	main section.title-header:first-child {
		margin-top: 119px;
	}


}
/*End of media 767px*/


@media(max-width:320px){



}
/*End of media 320px*/